/* public/css/styles.css
-----------------------------------------------------------------------------
Author : Andrew Nolan, Max Atkinson ,Angus Cameron, Bruce Thomson  
----------------------- ----------------------------------------------------
Purpose: Casscading Stylesheets File containng colour, font, alignment attributes
		 for index.xhtml
		
-----------------------------------------------------------------------------

*/
#chat {

    overflow-y: auto;
    word-wrap:break-word;
    background-color: lightgray;
}

#channel-panel {

    overflow-y: auto;
    word-wrap:break-word;
    background-color: #5f27cd;
    color: white;
    border-right: 2px black solid;
}


#channel-panel h1 {
    /* font-size: 2.3vw; */
}

#channel-panel p {
    border-radius: 5px;
    padding: 5px;
}

#channel-panel p:hover {
    background-color: #341f97;
    cursor: pointer;
}

#channel-button {
    background-color: #341f97; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#info-panel {
    height: 10%;
    background-color: #341f97;
    color: white;
    border-right: 2px black solid;
}

#user-input {
    border-top: 2px black solid;
    padding-top: 1%;
    height: 10%;
}

.channel.active {
    background-color: black;
}

/* -----------------------------------*/
.container2 {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 20px;
    padding: 10px;
margin: 10px 0;
  }

.container2::after {
    content: "";
    clear: both;
    display: table;
  }

  .time-right {
    float: right;
    color: #aaa;
  }

/* https://flatuicolors.com/palette/ca */