#chat {
    height: calc(90% - 56px);
    overflow-y: auto;
    word-wrap:break-word;
    background-color: lightgray;
}

#channel-panel {
    overflow-y: auto;
    word-wrap:break-word;
    height: calc(90% - 56px);
    background-color: gray;
}

#info-panel {
    height: 10%;
    background-color: grey;
}

#user-input {
    padding-top: 1%;
    height: 10%;
}